click==8.1.7
DAWG-Python==0.7.2
docopt==0.6.2
intervaltree==3.1.0
ipymarkup==0.9.0
joblib==1.4.2
natasha==1.6.0
navec==0.10.0
nltk==3.9.1
numpy==2.1.2
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
razdel==0.5.0
regex==2024.9.11
slovnet==0.6.0
sortedcontainers==2.4.0
tqdm==4.66.6
yargy==0.16.0
